.row {
  color: white;
  margin-left: 20px;
  margin-top: 30px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  width: auto;
  max-height: 150px;
  object-fit: contain;
  margin-right: 12px;
  transition: transform 450ms;
}
.row__poster:hover {
  transform: scale(1.06);
  opacity: 1;
}
.row__posterLarge {
  width: auto;
  max-height: 320px;
}
.row__posterLarge:hover {
  transform: scale(1.07);
  opacity: 1;
}
.row__poster__name {
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
}
